<ul class="node-items">    
  <li ng-repeat="node in nodes track by $index" class="node-item">
    <div class="node-item__left">
      <div class="node-info">
        <div class="node-info__avatar">
          <div class="node-info__avatar-wrapper">
            <img ng-src="{{ addressToSrcIcon(node.address) }}" />
          </div>
        </div>
        <div class="node-info__about">          
          <strong>{{ node.address }}</strong>
          <div class="node-info__about-company">
            <div>
              <h5>Company</h5>
              Unknown
            </div>
            <div>
              <h5>Home page</h5>
              <a href="#" target="_blank">Unknown</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="node-item__right">
      <div class="node-stats">
        <div class="node-stats__cell">
          <h5>Votes casted</h5>
          <ul class="node-votes">
            <li 
              ng-repeat="slot in node.slots" 
              ng-class="{'green': slot.timestamp > 0}"
              title="{{ slot.timestamp > 0 ? 'Vote slot used ' + slot.timestamp + ' on ' + slot.address : null }}"
            >
              <img ng-show="slot.timestamp > 0" ng-src="{{ addressToSrcIcon(slot.address) }}" />
            </li>            
          </ul>
        </div>
        <div class="node-stats__cell right">
          <h5>Votes recieved</h5>
          <h2>{{ node.votes }}</h2>
        </div>
      </div>
    </div>
  </li>  
</ul>

<div class="row" style="margin-top: 30px;">
  <div class="col-md-12 portlet light">
    <div class="portlet-title">
      <div class="caption">Candidate Nodes</div>
    </div>
    <div class="portlet-body">
      <span ng-show="polls.length == 0">No active polls yet</span>
      <ul class="node-items" ng-show="polls.length > 0">
        <li class="node-item" ng-repeat="poll in polls">
          <div class="node-item__left">
            <div class="node-info">
              <div class="node-info__avatar">
                <div class="node-info__avatar-wrapper">
                  <img ng-src="{{ addressToSrcIcon(poll.address) }}" />
                </div>
              </div>
              <div class="node-info__about">
                <strong>{{ poll.address }}</strong>
                <div class="node-info__about-company">
                  <div>
                    <h5>Company</h5>
                    Unknown
                  </div>
                  <div>
                    <h5>Home page</h5>
                    <a href="#" target="_blank">Unknown</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="node-item__right">
            <div class="node-stats">
              <div class="node-stats__cell">
                <h5>Votes recieved</h5>
                <h2>
                  <span ng-class="{'greened': poll.votes >= votesRequired }">
                    {{ poll.votes }}
                  </span>
                </h2>
              </div>
              <div class="node-stats__cell">
                <h5>Votes required</h5>
                <h2>{{ votesRequired }}</h2>
              </div>
              <div class="node-stats__cell nowrap">
                <h5>Time left</h5>
                <h2>{{ millisecondsToWords(poll.closeTime * 1000 - now) }}</h2>
              </div>
              <div class="node-stats__cell right center">
                <h2>{{poll.votes < votesRequired ? '🕐' : '👌'}}</h2>                
              </div>
            </div>
          </div>
        </li>        
      </ul>
    </div>
  </div>
</div>