<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12 portlet light">
      <div class="portlet-body">
        <div class="row">
            <div class="col-md-6 center">
              <div >
                <span class="eth-stat-title">
                  {{ dao.balance | number: 10 }} </span><br>
                <span class="eth-stat-text">
                  TheDAO Balance
                  </span><br> 
                  <div class="margin-top-20">
                  {{ dao.extra_balance | number: 10 }} <span class="eth-stat-text">TheDAO Extra Balance
                  </span>
                  </div>
                  <div class="margin-top-20">
                  {{ dao.total_supply | number:1 }} <span class="eth-stat-text">Total Tokens</span>
                  </div>
                  <div class="margin-top-20">
                   <span class="eth-stat-text">Token Holders</span>
                  </div>
                  <div class="margin-top-20">
                  {{ dao.count }} <span class="eth-stat-text">Transactions</span>
                  </div>
              </div>
            </div>

            <div class="col-md-6 center">
                <div class="portlet">
                  <div class="portlet-body">

                    <span class='btn blue-madison' ng-show="!isFollowing(dao.ash)" ng-click="follow(dao.ash)">WATCH <i class="fa fa-rss "></i></span>
                    <span class='btn grey'  ng-show="isFollowing(dao.ash)" ng-click="unFollow(dao.ash)">WATCHING <i class="fa fa-check "></i></span>
                    <div class="margin-top-20">
                        {{ dao.follow_count }}0 
                        <span class="eth-stat-text">WATCHING</span>
                    </div>
                    <div class="margin-top-20">
                       <span class="eth-stat-text">Contract Creator</span><br>
                       <a href="/addr/0x793ea9692ada1900fbd0b80fffec6e431fe8b391">0x793ea9692ada1900fbd0b80...</a> at txn 
                       <a href="/tx/0xe9ebfecc2fa10100db51a4408d18193b3ac504584b51a4e55bdef1318f0a30f9">0xe9ebfecc2fa10100db51a44...</a>
                    </div>
                </div>
              </div>
            </div>

      </div><!--end row-->

    </div><!--end portlet-body-->
  </div><!--end portlet-->

  <!-- Begin: Transaction Datatable -->
  <div class="portlet light col-md-12">
     <div class="portlet-body">
       
       <div class="tabbable-line">
          <ul class="nav nav-tabs ">
              <li ng-class="{active: activeTab == 'tab_dao_1' || !activeTab}">
                  <a href="#tab_dao_1" data-toggle="tab" aria-expanded="true"> Get Balance </a>
              </li>
              <li ng-class="{active: activeTab == 'tab_dao_2'}" >
                  <a href="#tab_dao_2" data-toggle="tab" aria-expanded="false"> Created Tokens </a>
              </li>
              <li cng-class="{active: activeTab == 'tab_dao_3'}">
                  <a href="#tab_dao_3" data-toggle="tab" aria-expanded="false"> Internal Transactions </a>
              </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" ng-class="{active: activeTab == 'tab_dao_1' || !activeTab}" id="tab_dao_1">
                <h4>Get DAO-C Token Balance</h4>
                <div class="row"><!-- get my balance -->
                  <form class="col-md-10 center" name="form.tokens">
                    <span class="help-block"><b>Enter Your Address </b></span>
                    <div class="input-group">
                        <input type="text" class="form-control" name="addrInput" placeholder="0xbb9bc244d798123fde783fcc1c72d3bb8c189413" ng-model="form.addrInput" ng-keyup="$event.keyCode == 13 ? getBalance(form.addrInput) : null">
                        <span class="input-group-btn">
                            <button class="btn blue-madison" type="button" ng-click="getBalance(form.addrInput)">Go!</button>
                        </span>
                    </div>
                     <span class="help-block font-red-mint">{{errors.address}}</span>
                  </form>
                </div><!--end row-->
                <div class="row" ng-show="showTokens"><!-- balance results -->
                  <div class="col-md-10">
                    <h4>You have <span class="eth-stat-title font-blue-madison">0{{dao.tokens | number}}</span> DAO-C tokens.</h4>
                  </div>
                </div>
            </div><!-- end get Token Balance Tab -->
            <div class="tab-pane" id="tab_dao_2" ng-class="{active: activeTab == 'tab_dao_2'}">
              <created-tokens></created-tokens>
            </div><!-- end Created Tokens Tab -->
            <div class="tab-pane" id="tab_dao_3" ng-class="{active: activeTab == 'tab_dao_3'}">
              <transfer-tokens></transfer-tokens>
            </div><!-- end Internal txs Tab -->
        </div><!-- end tab content -->
      </div>
    </div><!-- End: portlet -->
</div>