<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="note note-success">
            <h4 class="block">Updates</h4>
            <p> Now you can verify contract source code. </p>
            <p>For more info about our progress check out
                <a href="https://github.com/ethereumproject/explorer" target="_blank"> the official github respository </a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="fa fa-cubes font-red"></i>
                    <span class="caption-subject font-red bold uppercase">Blocks</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm blue btn-outline" href="javascript:;"> View All
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="todo-tasklist">
                    <div ng-repeat="t in latest_blocks track by $index" class="todo-tasklist-item todo-tasklist-item-border-green row">
                        <!--TODO: color by known miners -->
                        <div class="col-sm-5">
                            <span class="todo-tasklist-item-title"><i class="fa fa-cube"></i> <a href="/block/{{t.number}}">{{t.number}}</a></span><br>
                            <span class="todo-tasklist-date">
                                <i class="fa fa-hourglass-o"></i>{{t.timestamp | timeDuration }} ago</span>
                        </div>
                        <div class="todo-tasklist-controls col-sm-7">
                            <div class="todo-tasklist-item-text"><a href="/addr/{{t.miner}}">{{t.extraData}}</a><br>
                            by <a href="/addr/{{t.miner}}">{{t.miner}}</a><br>
                            {{t.transactions.length}} txns
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6" >
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-red"></i>
                    <span class="caption-subject font-red bold uppercase">Transactions</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm blue btn-outline" href="javascript:;"> View All
                        </a>
                    </div>
                </div>                    
            </div>
            <div class="portlet-body">
                <ul class="feeds list-items scrollable">
                    <li ng-repeat="t in latest_txs track by $index">
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col2 home-tx">
                                    TX <a href="/tx/{{t.hash}}">{{t.hash}}</a><br> 
                                    <small>From <a href="/addr/{{t.from}}">{{t.from}}</a></small>
                                    <small >To <a href="/addr/{{t.to}}">{{t.to}}</a></small><br>
                                    <small>{{t.value}} Ether</small>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> {{t.timestamp | date: 'hh:mm:ss'}} </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

