<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12 portlet light">
      <div class="portlet-body">

        <table class="col-md-6 table table-hover">
          
          <tr ><td width="25%">hash</td><td>{{tx.hash}}</td></tr>
          <tr ><td width="25%">blockNumber</td>
                <td><a href="/block/{{tx.blockNumber}}">{{tx.blockNumber}}</a></td>
          </tr>
          <tr ><td width="25%">Time</td>
                <td>{{tx.datetime | date:'yyyy-MM-dd HH:mm:ss Z' }} ({{tx.timestamp | timeDuration}} ago)</td>
          </tr>
          <tr ><td width="25%">from</td>
                <td><a href="/addr/{{tx.from}}">{{tx.from}}</a></td></tr>
          <tr ><td width="25%">to</td>
                <td><a href="/addr/{{tx.to}}">{{tx.to}}</a></td></tr>
          <tr ><td width="25%">value</td><td>{{tx.value}}</td></tr>
          <tr ><td width="25%">gas</td><td>{{tx.gas}}</td></tr>
          <tr ><td width="25%">gasPrice</td><td>{{tx.gasPrice}}</td></tr>
          <tr ><td width="25%">nonce</td><td>{{tx.nonce}}</td></tr>
          <tr ><td width="25%">Input Data</td><td><pre class="code">{{tx.input}}</pre></td></tr>
        </table>
    </div>

  </div>
</div>
