div.page-logo {overflow: visible;}
img.logo-default {
    max-height:100px;
}
ul.scrollable {
    max-height: 400px;
    overflow-y: scroll;
}
#table_txs td{
    font-size: 12px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
}