<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>About</h2>
                <p> {{settings.about}} </p>
                <span ng-bind-html="settings.poweredbyCustom" ng-if="settings.poweredbyCustom">{{settings.poweredbyCustom}}</span>
                <span ng-if="!settings.poweredbyCustom && settings.poweredbyEtcImage"><a href="https://github.com/ethereumproject/explorer" target="_blank"><img height="51px" src="{{settings.poweredbyEtcImage}}"></a></span>
                <p ng-if="!settings.poweredbyCustom && !settings.poweredbyEtcImage && settings.poweredbyEtc"> Powered by <a href="https://github.com/ethereumproject/explorer" target="_blank">ETC Explorer</a> </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>Follow Us On</h2>
                <ul class="social-icons">
                    <li>
                        <a ng-show="settings.rss" href="{{settings.rss}}" data-original-title="rss" class="rss"></a>
                    </li>
                    <li>
                        <a ng-show="settings.reddit" href="{{settings.reddit}}" data-original-title="reddit" class="reddit"></a>
                    </li>
                    <li>
                        <a ng-show="settings.twitter" href="{{settings.twitter}}" data-original-title="twitter" class="twitter"></a>
                    </li>
                    <li>
                        <a ng-show="settings.github" href="{{settings.github}}" data-original-title="github" class="github"></a>
                    </li>
                    <li>
                        <a ng-show="settings.linkedin" href="{{settings.linkedin}}" data-original-title="linkedin" class="linkedin"></a>
                    </li>
                </ul>
            </div>
            <div ng-show="settings.symbol == 'ETC'" class="col-md-6 col-sm-12 col-xs-12 footer-block">
                <h2>Help, it's Broken!</h2>
                <address class="margin-bottom-40"> 
                    <br>Open an Issue: <a href="https://github.com/ethereumproject/explorer/issues">github</a>
                    <br> <a href="mailto:elaine.ou@gmail.com">Email bug reports</a>
                    <br> <a href="https://twitter.com/eiaine">Twit</a>
                </address>
            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN POST-FOOTER -->
<div class="page-footer">
    <div class="container" ng-bind-html="settings.copyright"></div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END POST-FOOTER -->
