<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
  <div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="/">
      <img ng-show="settings.logo" src="{{settings.logo}}" alt="logo" class="logo-default" />
      </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="#" class="menu-toggler btn btn-sm green-haze btn-outline">MENU</a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <form name="form.searchForm" class="search-form">
            <div class="input-group">
              <input type="text" name="explorerSearch" class="form-control" placeholder="Search by Address / Txhash / BlockNum / BlockHash" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
              <span class="input-group-btn">
              <a class="btn" ng-click="searchQuery(form.searchInput)">
              <i class="icon-magnifier"></i>
              </a>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
  <div class="container">
    <!-- BEGIN MEGA MENU -->
    <div class="hor-menu hor-menu-light">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li ng-repeat="(key, menu) in settings.menu" class="menu-dropdown classic-menu-dropdown"
            ng-if="key != 'Accounts' || (key == 'Accounts' && settings.showRichList)">
          <a ng-if="menu.items" data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" ng-attr-href="{{menu.link || '#'}}"> {{key}}
            <i class="fa fa-angle-down"></i>
          </a>
          <a ng-if="!menu.items" ng-attr-href="{{menu.link || '#'}}">{{key}}</a>
          <ul ng-if="menu.items" class="dropdown-menu pull-left" ng-attr-style="{{menu.style}}">
            <li ng-repeat="item in menu.items">
              <hr ng-if="!item.title" />
              <a ng-if="item.title" href="{{item.link}}" ng-attr-target="{{item.target}}">
              <i class="{{item.iconClass}}"></i><span class="title" ng-attr-title="{{item.tooltip}}" data-toggle="tooltip"> {{item.title}}</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- END MEGA MENU -->
  </div>
</div>
<!-- END HEADER INNER -->
